header
{
    /* Background Color */
    background: rgb(51,30,61);
    background: linear-gradient(90deg, rgba(51,30,61,1) 0%, rgba(21,0,255,1) 100%);

    /* Header Adjustments */
    height: 5vh;
    display: flex;

    /* Content Adjustments */
    justify-content: center;
    align-items: center;
}

header h1
{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

aside h2 
{
    font-size: 2.5rem;
    font-weight: bold;
}

input[type="text"]
{
    padding: 2vh 1vw;
    font-size: 1.5rem;
    border-radius: 10px;
}

button
{
    margin: 2vh 0vw;
    width: 100%;
}

#sidebar
{
    margin-top: 2vh;
}

#sidebar ul
{
    justify-content: center;
}

#currentDayWeather
{
    border: 2px solid black;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

#fiveDayWeather
{
    align-items: center;
    justify-content: space-between;
    margin: 0vh 1vw;
}

#fiveDayWeather h2
{
    font-size: 2rem;
    align-self: flex-end;
    float: left;
    padding-left: 0;
    font-weight: bold;
}

.myCard
{
    max-width: 14rem; 
    max-height: 20rem;
    height: 20rem;
}

.myCardHeader
{
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0;
    padding-top: 1vh;
}

.myCardText
{
    font-size: 125%;
    font-weight: 600;
    padding: 1.5vh 0vw;
}

.myCardBody
{
    padding: 0;
    padding: 2vh 0 .5vw 0;
}

